<p class="title">Danh Sách Truyện Tranh</p>
<button><a href="/add-story">Thêm Truyện</a></button>
<table>
<tr>
<th>STT</th>
<th>Tên Truyện</th>
<th>Tác Giả</th>
<th>Năm</th>
<th>Thể Loại</th>
<th>Lượt Xem</th>
<th>Ảnh</th>
<th>Hành Động</th>
</tr>

@for (story of stories; track story.title; let i = $index){
<tr>

<td>{{i+1}}</td>
<td>{{story.title}}</td>
<td>{{story.author}}</td>
<td>{{story.year}}</td>
<td>{{story.category}}</td>
<td>{{story.views}}</td>

<td>
<img [src]="story.image" width="80">
</td>

<td>
<button (click)="xemChiTiet(story)">Xem chi tiết</button>
</td>

</tr>
}

</table>


@if (storyChiTiet){

<div class="popup">

<div class="popup-box">

<h2>{{storyChiTiet.title}}</h2>

<p>Tác giả: {{storyChiTiet.author}}</p>
<p>Năm: {{storyChiTiet.year}}</p>
<p>Thể loại: {{storyChiTiet.category}}</p>
<p>Lượt xem: {{storyChiTiet.views}}</p>

<img [src]="storyChiTiet.image" width="150">

<br><br>

<button (click)="dongPopup()">Đóng</button>

</div>

</div>

}